<a href="https://colab.research.google.com/github/gitflai/MinicursoFLAIDataScienceNaCopa/blob/main/Minicurso_FLAI_Data_Science_na_Copa_do_Mundo_Qatar_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Minicurso FLAI Data Science na Copa do Mundo Qatar 2022 ⚽**

In [1]:
import pandas as pd
import numpy as np
import random
from scipy.stats import poisson

selecoes = pd.read_excel('DadosCopaDoMundoQatar2022.xlsx', sheet_name ='selecoes', index_col = 0)
jogos = pd.read_excel('DadosCopaDoMundoQatar2022.xlsx', sheet_name ='jogos')

In [2]:
selecoes.head()

,Grupo,GrupoNumero,NomeEmIngles,PosiçãoRankingFIFA,ValorDeMercado,PontosRankingFIFA,Confederação,Copas,JogadorDestaque,FotoJogadorDestaque,LinkBandeiraPequena,LinkBandeiraGrande
Seleção,,,,,,,,,,,,
Catar,A,A1,Qatar,48,18.33,1442,AFC,0,Almoez Ali,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Equador,A,A2,Ecuador,44,125.80,1464,UEFA,0,Pervis Estupiñán,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Senegal,A,A3,Senegal,18,286.50,1585,CAF,0,Sadio Mané,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Holanda,A,A4,Netherlands,8,455.75,1679,UEFA,0,Virgil Van Dijk,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Inglaterra,B,B1,England,5,1360.00,1737,UEFA,1,Harry Kane,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...

In [3]:
jogos.head()

        data      hora grupo seleção1 seleção2         estádio
0 2022-11-21  07:00:00     A  Senegal  Holanda      AL THUMAMA
1 2022-11-21  13:00:00     A    Catar  Equador         AL KHOR
2 2022-11-25  10:00:00     A    Catar  Senegal      AL THUMAMA
3 2022-11-25  13:00:00     A  Holanda  Equador  INTER. KHALIFA
4 2022-11-29  12:00:00     A  Holanda    Catar         AL KHOR

In [4]:
fifa = selecoes['PontosRankingFIFA']
fifa

Seleção
Catar             1442
Equador           1464
Senegal           1585
Holanda           1679
Inglaterra        1737
Irã               1559
Estados Unidos    1635
País de Gales     1582
Argentina         1771
Arábia Saudita    1436
México            1650
Polônia           1546
França            1765
Dinamarca         1665
Tunísia           1508
Austrália         1484
Espanha           1717
Alemanha          1659
Japão             1555
Costa Rica        1500
Bélgica           1822
Canadá            1474
Marrocos          1558
Croácia           1632
Brasil            1838
Sérvia            1550
Suíça             1621
Camarões          1485
Portugal          1679
Gana              1393
Uruguai           1641
Coreia do Sul     1526
Name: PontosRankingFIFA, dtype: int64

In [5]:
a, b = min(fifa), max(fifa) 
fa, fb = 0.15, 1 
b1 = (fb - fa)/(b-a) 
b0 = fb - b*b1
forca = b0 + b1*fifa 

forca.sort_values(ascending = False)

Seleção
Brasil            1.000000
Bélgica           0.969438
Argentina         0.872022
França            0.860562
Inglaterra        0.807079
Espanha           0.768876
Holanda           0.696292
Portugal          0.696292
Dinamarca         0.669551
Alemanha          0.658090
México            0.640899
Uruguai           0.623708
Estados Unidos    0.612247
Croácia           0.606517
Suíça             0.585506
Senegal           0.516742
País de Gales     0.511011
Irã               0.467079
Marrocos          0.465169
Japão             0.459438
Sérvia            0.449888
Polônia           0.442247
Coreia do Sul     0.404045
Tunísia           0.369663
Costa Rica        0.354382
Camarões          0.325730
Austrália         0.323820
Canadá            0.304719
Equador           0.285618
Catar             0.243596
Arábia Saudita    0.232135
Gana              0.150000
Name: PontosRankingFIFA, dtype: float64

In [6]:
def Resultado(gols1, gols2):
    if gols1 > gols2:
        res = 'V'
    if gols1 < gols2:
        res = 'D' 
    if gols1 == gols2:
        res = 'E'       
    return res

def MediasPoisson(selecao1, selecao2):
    forca1 = forca[selecao1]
    forca2 = forca[selecao2] 
    mgols = 2.75
    l1 = mgols*forca1/(forca1 + forca2)
    l2 = mgols*forca2/(forca1 + forca2)
    return [l1, l2]
    
def Distribuicao(media):
    probs = []
    for i in range(7):
        probs.append(poisson.pmf(i,media))
    probs.append(1-sum(probs))
    return pd.Series(probs, index = ['0', '1', '2', '3', '4', '5', '6', '7+'])

def ProbabilidadesPartida(selecao1, selecao2):
    l1, l2 = MediasPoisson(selecao1, selecao2)
    d1, d2 = Distribuicao(l1), Distribuicao(l2)  
    matriz = np.outer(d1, d2)    #   Monta a matriz de probabilidades

    vitoria = np.tril(matriz).sum()-np.trace(matriz)    #Soma a triangulo inferior
    derrota = np.triu(matriz).sum()-np.trace(matriz)    #Soma a triangulo superior
    probs = np.around([vitoria, 1-(vitoria+derrota), derrota], 3)
    probsp = [f'{100*i:.1f}%' for i in probs]

    nomes = ['0', '1', '2', '3', '4', '5', '6', '7+']
    matriz = pd.DataFrame(matriz, columns = nomes, index = nomes)
    matriz.index = pd.MultiIndex.from_product([[selecao1], matriz.index])
    matriz.columns = pd.MultiIndex.from_product([[selecao2], matriz.columns]) 
    output = {'seleção1': selecao1, 'seleção2': selecao2, 
             'f1': forca[selecao1], 'f2': forca[selecao2], 
             'media1': l1, 'media2': l2, 
             'probabilidades': probsp, 'matriz': matriz}
    return output

def Pontos(gols1, gols2):
    rst = Resultado(gols1, gols2)
    if rst == 'V':
        pontos1, pontos2 = 3, 0
    if rst == 'E':
        pontos1, pontos2 = 1, 1
    if rst == 'D':
        pontos1, pontos2 = 0, 3
    return pontos1, pontos2, rst


def Jogo(selecao1, selecao2):
    l1, l2 = MediasPoisson(selecao1, selecao2)
    gols1 = int(np.random.poisson(lam = l1, size = 1))
    gols2 = int(np.random.poisson(lam = l2, size = 1))
    saldo1 = gols1 - gols2
    saldo2 = -saldo1
    pontos1, pontos2, result = Pontos(gols1, gols2)
    placar = '{}x{}'.format(gols1, gols2)
    return [gols1, gols2, saldo1, saldo2, pontos1, pontos2, result, placar]

In [7]:
def JogoMataMata(selecao1, selecao2): 
    jogo = Jogo(selecao1, selecao2)
    resultado = jogo[6]
    if resultado == 'V':
        return selecao1
    elif resultado == 'D':
        return selecao2
    else:
        return random.sample([selecao1, selecao2], 1)[0]

In [8]:
Jogo('Brasil', 'França')

[1, 3, -2, 2, 0, 3, 'D', '1x3']

In [9]:
JogoMataMata('Brasil', 'França')

'França'

In [10]:
ProbabilidadesPartida('Brasil', 'Gana')

{'seleção1': 'Brasil',
 'seleção2': 'Gana',
 'f1': 1.0,
 'f2': 0.1499999999999999,
 'media1': 2.3913043478260874,
 'media2': 0.35869565217391286,
 'probabilidades': ['82.8%', '13.2%', '4.0%'],
 'matriz':                Gana                                                        \
                   0         1         2         3         4             5
 Brasil 0   0.063928  0.022931  0.004113  0.000492  0.000044  3.163294e-06
        1   0.152871  0.054834  0.009834  0.001176  0.000105  7.564398e-06
        2   0.182781  0.065563  0.011759  0.001406  0.000126  9.044388e-06
        3   0.145695  0.052260  0.009373  0.001121  0.000100  7.209295e-06
        4   0.087100  0.031242  0.005603  0.000670  0.000060  4.309905e-06
        5   0.041657  0.014942  0.002680  0.000320  0.000029  2.061259e-06
        6   0.016602  0.005955  0.001068  0.000128  0.000011  8.215162e-07
        7+  0.007954  0.002853  0.000512  0.000061  0.000005  3.935894e-07


                       6            7+
 Brasil 0   1.891099e-07  1.014286e-08
        1   4.522194e-07  2.425467e-08
        2   5.406971e-07  2.900015e-08
        3   4.309905e-07  2.311606e-08
        4   2.576573e-07  1.381939e-08
        5   1.232274e-07  6.609272e-09
        6   4.911238e-08  2.634130e-09
        7+  2.352980e-08  1.262015e-09  }

---
## Tarefa 1: **Prever os Jogos da Copa!**

In [11]:
jogos['Vitória'] = None
jogos['Empate'] = None
jogos['Derrota'] = None

for i in range(jogos.shape[0]):
    selecao1 = jogos['seleção1'][i]
    selecao2 = jogos['seleção2'][i]
    v, e, d = ProbabilidadesPartida(selecao1, selecao2)['probabilidades']
    jogos.at[i,'Vitória'] = v
    jogos.at[i,'Empate'] = e
    jogos.at[i,'Derrota'] = d

jogos.to_excel('outputEstimativasJogosCopa.xlsx', index = False)
jogos

,data,hora,grupo,seleção1,seleção2,estádio,Vitória,Empate,Derrota
0,2022-11-21,07:00:00,A,Senegal,Holanda,AL THUMAMA,28.3%,24.9%,46.8%
1,2022-11-21,13:00:00,A,Catar,Equador,AL KHOR,32.3%,25.4%,42.3%
2,2022-11-25,10:00:00,A,Catar,Senegal,AL THUMAMA,17.2%,22.1%,60.6%
3,2022-11-25,13:00:00,A,Holanda,Equador,INTER. KHALIFA,64.4%,21.0%,14.6%
4,2022-11-29,12:00:00,A,Holanda,Catar,AL KHOR,68.4%,19.6%,12.0%
5,2022-11-29,12:00:00,A,Equador,Senegal,INTER. KHALIFA,20.7%,23.3%,56.0%
6,2022-11-21,10:00:00,B,Inglaterra,Irã,INTER. KHALIFA,54.6%,23.6%,21.8%
7,2022-11-21,16:00:00,B,Estados Unidos,País de Gales,AL RAYYAN,43.0%,25.3%,31.7%
8,2022-11-25,07:00:00,B,País de Gales,Irã,AL RAYYAN,40.1%,25.5%,34.4%
9,2022-11-25,16:00:00,B,Inglaterra,Estados Unidos,AL KHOR,46.1%,25.0%,28.9%
10,2022-11-29,16:00:00,B,País de Gales,Inglaterra,AL RAYYAN,24.0%,24.2%,51.8%
11,2022-11-29,16:00:00,B,Irã,Estados Unidos,AL THUMAMA,29.1%,25.0%,45.9%
12,2022-11-22,07:00:00,C,Argentina,Arábia Saudita,CID. EDUCAÇÃO,74.2%,17.3%,8.5%
13,2022-11-22,13:00:00,C,México,Polônia,AL WAKRAH,49.1%,24.6%,26.3%
14,2022-11-26,10:00:00,C,Polônia,Arábia Saudita,CID. EDUCAÇÃO,57.5%,22.9%,19.5%
15,2022-11-26,16:00:00,C,Argentina,México,NAC. DE LUSAIL,47.1%,24.9%,28.0%
16,2022-11-30,16:00:00,C,Polônia,Argentina,PORTO DE DOHA,18.8%,22.7%,58.5%
17,2022-11-30,16:00:00,C,Arábia Saudita,México,NAC. DE LUSAIL,12.5%,19.9%,67.5%
18,2022-11-22,10:00:00,D,Dinamarca,Tunísia,CID. EDUCAÇÃO,56.0%,23.3%,20.7%
19,2022-11-22,16:00:00,D,França,Austrália,AL WAKRAH,66.6%,20.3%,13.1%
20,2022-11-26,07:00:00,D,Tunísia,Austrália,AL WAKRAH,41.4%,25.4%,33.1%
21,2022-11-26,13:00:00,D,França,Dinamarca,PORTO DE DOHA,45.3%,25.1%,29.6%
22,2022-11-30,12:00:00,D,Tunísia,França,CID. EDUCAÇÃO,15.4%,21.4%,63.2%
23,2022-11-30,12:00:00,D,Austrália,Dinamarca,AL WAKRAH,17.8%,22.3%,59.9%
24,2022-11-23,10:00:00,E,Alemanha,Japão,INTER. KHALIFA,48.7%,24.7%,26.6%
25,2022-11-23,13:00:00,E,Espanha,Costa Rica,AL THUMAMA,61.3%,22.0%,16.8%
26,2022-11-27,07:00:00,E,Japão,Costa Rica,AL RAYYAN,45.5%,25.1%,29.4%
27,2022-11-27,16:00:00,E,Espanha,Alemanha,AL KHOR,42.2%,25.4%,32.4%
28,2022-12-01,16:00:00,E,Japão,Espanha,INTER. KHALIFA,22.6%,23.8%,53.6%
29,2022-12-01,16:00:00,E,Costa Rica,Alemanha,AL KHOR,20.1%,23.1%,56.8%
30,2022-11-23,07:00:00,F,Marrocos,Croácia,AL KHOR,29.2%,25.1%,45.7%
31,2022-11-23,16:00:00,F,Bélgica,Canadá,AL RAYYAN,70.8%,18.7%,10.5%
32,2022-11-27,10:00:00,F,Bélgica,Marrocos,AL THUMAMA,60.1%,22.3%,17.6%
33,2022-11-27,13:00:00,F,Croácia,Canadá,INTE. KHALIFA,58.8%,22.6%,18.6%
34,2022-12-01,12:00:00,F,Croácia,Bélgica,AL RAYYAN,23.7%,24.1%,52.2%
35,2022-12-01,12:00:00,F,Canadá,Marrocos,AL THUMAMA,24.9%,24.4%,50.7%
36,2022-11-24,07:00:00,G,Suíça,Camarões,AL WAKRAH,55.8%,23.4%,20.8%
37,2022-11-24,16:00:00,G,Brasil,Sérvia,NAC. LUSAIL,61.9%,21.8%,16.3%
38,2022-11-28,07:00:00,G,Camarões,Sérvia,AL WAKRAH,27.6%,24.8%,47.6%
39,2022-11-28,13:00:00,G,Brasil,Suíça,PORTO DE DOHA,54.2%,23.7%,22.1%
40,2022-12-02,16:00:00,G,Camarões,Brasil,NAC. LUSAIL,11.0%,19.0%,70.0%
41,2022-12-02,16:00:00,G,Sérvia,Suíça,PORTO DE DOHA,29.3%,25.1%,45.7%
42,2022-11-24,10:00:00,H,Uruguai,Coreia do Sul,CID. EDUCAÇÃO,51.1%,24.3%,24.6%
43,2022-11-24,13:00:00,H,Portugal,Gana,PORTO DE DOHA,77.9%,15.6%,6.4%
44,2022-11-28,10:00:00,H,Coreia do Sul,Gana,CID. EDUCAÇÃO,66.9%,20.2%,12.9%
45,2022-11-28,16:00:00,H,Portugal,Uruguai,NAC. LUSAIL,40.7%,25.5%,33.8%
46,2022-12-02,12:00:00,H,Coreia do Sul,Portugal,CID. EDUCAÇÃO,21.8%,23.6%,54.5%
47,2022-12-02,12:00:00,H,Gana,Uruguai,AL WAKRAH,7.4%,16.5%,76.1%

## Tarefa 2: **Simular a Copa do Mundo Inteira!**

In [12]:
def JogosGrupo(dados, grupo): 
    
    times = list(dados.loc[dados['Grupo']==grupo].index)

    time1, time2, time3, time4 = times  # nome dos times 

    pt1, pt2, pt3, pt4 = 0, 0, 0, 0
    gp1, gp2, gp3, gp4 = 0, 0, 0, 0
    sg1, sg2, sg3, sg4 = 0, 0, 0, 0

    jogo1 = Jogo(time1, time2)
    jogo2 = Jogo(time3, time4)

    jogo3 = Jogo(time1, time3)
    jogo4 = Jogo(time2, time4)

    jogo5 = Jogo(time1, time4)
    jogo6 = Jogo(time2, time3)

    gp1, gp2, sg1, sg2, pt1, pt2 = gp1 + jogo1[0], gp2 + jogo1[1], sg1 + jogo1[2], sg2 + jogo1[3], pt1 + jogo1[4], pt2 + jogo1[5]
    gp3, gp4, sg3, sg4, pt3, pt4 = gp3 + jogo2[0], gp4 + jogo2[1], sg3 + jogo2[2], sg4 + jogo2[3], pt3 + jogo2[4], pt4 + jogo2[5]
    gp1, gp3, sg1, sg3, pt1, pt3 = gp1 + jogo3[0], gp3 + jogo3[1], sg1 + jogo3[2], sg3 + jogo3[3], pt1 + jogo3[4], pt3 + jogo3[5]
    gp2, gp4, sg2, sg4, pt2, pt4 = gp2 + jogo4[0], gp4 + jogo4[1], sg2 + jogo4[2], sg4 + jogo4[3], pt2 + jogo4[4], pt4 + jogo4[5]
    gp1, gp4, sg1, sg4, pt1, pt4 = gp1 + jogo5[0], gp4 + jogo5[1], sg1 + jogo5[2], sg4 + jogo5[3], pt1 + jogo5[4], pt4 + jogo5[5]
    gp2, gp3, sg2, sg3, pt2, pt3 = gp2 + jogo6[0], gp3 + jogo6[1], sg2 + jogo6[2], sg3 + jogo6[3], pt2 + jogo6[4], pt3 + jogo6[5]

    partidas = [ time1 + ' x ' + time2, 
                 time3 + ' x ' + time4,
                 time1 + ' x ' + time3, 
                 time2 + ' x ' + time4,
                 time1 + ' x ' + time4,
                 time2 + ' x ' + time3 ]

    resultados = [ jogo1[6], jogo2[6], jogo3[6], jogo4[6], jogo5[6], jogo6[6] ]
    placares = [ jogo1[-1], jogo2[-1], jogo3[-1], jogo4[-1], jogo5[-1], jogo6[-1] ] 
    cols = ['Pontos', 'Saldo de Gols', 'Gols Pró']
    tab = pd.DataFrame([[pt1, pt2, pt3, pt4], [sg1, sg2, sg3, sg4], [gp1, gp2, gp3, gp4]], index = cols, columns = times).transpose()
    
    tab = tab.sort_values(['Pontos', 'Saldo de Gols', 'Gols Pró'], ascending = False)
    tab['Posição'] = [1, 2, 3, 4]

    jogos = pd.DataFrame([partidas, placares, resultados]).transpose()
    jogos.columns = ['Partida', 'Placar', 'Resultado']

    return [tab, jogos]

In [13]:
exemplo = JogosGrupo(selecoes, 'G')
exemplo

[          Pontos  Saldo de Gols  Gols Pró  Posição
 Suíça          4              2         8        1
 Brasil         4              1         7        2
 Camarões       4             -3         3        3
 Sérvia         3              0         4        4,
              Partida Placar Resultado
 0    Brasil x Sérvia    2x2         E
 1   Suíça x Camarões    5x0         V
 2     Brasil x Suíça    4x1         V
 3  Sérvia x Camarões    0x0         E
 4  Brasil x Camarões    1x3         D
 5     Sérvia x Suíça    2x2         E]

In [14]:
exemplo[0]

          Pontos  Saldo de Gols  Gols Pró  Posição
Suíça          4              2         8        1
Brasil         4              1         7        2
Camarões       4             -3         3        3
Sérvia         3              0         4        4

In [15]:
exemplo[1]

             Partida Placar Resultado
0    Brasil x Sérvia    2x2         E
1   Suíça x Camarões    5x0         V
2     Brasil x Suíça    4x1         V
3  Sérvia x Camarões    0x0         E
4  Brasil x Camarões    1x3         D
5     Sérvia x Suíça    2x2         E

In [16]:
def SimulaCopa(dados):
    cols = ['1st', '2nd', '3rd', '4th', 'Oitavas', 'Quartas', 'Semis', 'Final', 'Campeão']
    n = dados.shape[0]
    m = len(cols)
    aux = np.array(np.zeros(n*m).reshape(n, m))
    info = pd.DataFrame(aux, columns = cols, index = dados.index) 
    info = info.astype(int)

    top16 = []  
    for i in list('ABCDEFGH'):
        a = JogosGrupo(dados, i)[0] 
        top16 += a.index[:2].tolist()
        anomes = a.index.to_list() 
        info.at[anomes[0], '1st'] = 1
        info.at[anomes[1], '2nd'] = 1
        info.at[anomes[2], '3rd'] = 1
        info.at[anomes[3], '4th'] = 1

    qf1 = JogoMataMata(top16[0], top16[3])   #A1 x B2
    qf2 = JogoMataMata(top16[2], top16[1])   #B1 x A2
    qf3 = JogoMataMata(top16[4], top16[7])   #C1 x D2 
    qf4 = JogoMataMata(top16[6], top16[5])   #D1 x C2
    qf5 = JogoMataMata(top16[8], top16[11])  #E1 x F2
    qf6 = JogoMataMata(top16[10], top16[9])  #F1 x E2
    qf7 = JogoMataMata(top16[12], top16[15]) #G1 x H2
    qf8 = JogoMataMata(top16[14], top16[13]) #H1 x G2

    top8 = [qf1, qf2, qf3, qf4, qf5, qf6, qf7, qf8]


    sf1 = JogoMataMata(qf1, qf3)
    sf2 = JogoMataMata(qf2, qf4) 
    sf3 = JogoMataMata(qf5, qf7) 
    sf4 = JogoMataMata(qf6, qf8) 

    top4 = [sf1, sf2, sf3, sf4]

    f1 = JogoMataMata(sf1, sf3) 
    f2 = JogoMataMata(sf2, sf4) 
    top2 = [f1, f2]

    top1 = JogoMataMata(f1, f2)

    info.at[top16, 'Oitavas'] = 1
    info.at[top8, 'Quartas'] = 1
    info.at[top4, 'Semis'] = 1
    info.at[top2, 'Final'] = 1
    info.at[top1, 'Campeão'] = 1

    return info

In [17]:
SimulaCopa(selecoes)

                1st  2nd  3rd  4th  Oitavas  Quartas  Semis  Final  Campeão
Seleção
Catar             0    0    1    0        0        0      0      0        0
Equador           0    1    0    0        1        1      0      0        0
Senegal           0    0    0    1        0        0      0      0        0
Holanda           1    0    0    0        1        1      0      0        0
Inglaterra        0    1    0    0        1        0      0      0        0
Irã               1    0    0    0        1        0      0      0        0
Estados Unidos    0    0    0    1        0        0      0      0        0
País de Gales     0    0    1    0        0        0      0      0        0
Argentina         0    1    0    0        1        1      1      1        1
Arábia Saudita    0    0    0    1        0        0      0      0        0
México            1    0    0    0        1        1      1      1        0
Polônia           0    0    1    0        0        0      0      0        0
França            0    0    1    0        0        0      0      0        0
Dinamarca         0    0    0    1        0        0      0      0        0
Tunísia           1    0    0    0        1        0      0      0        0
Austrália         0    1    0    0        1        0      0      0        0
Espanha           1    0    0    0        1        1      1      0        0
Alemanha          0    0    0    1        0        0      0      0        0
Japão             0    1    0    0        1        1      0      0        0
Costa Rica        0    0    1    0        0        0      0      0        0
Bélgica           1    0    0    0        1        0      0      0        0
Canadá            0    0    0    1        0        0      0      0        0
Marrocos          0    0    1    0        0        0      0      0        0
Croácia           0    1    0    0        1        0      0      0        0
Brasil            0    1    0    0        1        1      1      0        0
Sérvia            1    0    0    0        1        0      0      0        0
Suíça             0    0    1    0        0        0      0      0        0
Camarões          0    0    0    1        0        0      0      0        0
Portugal          0    0    1    0        0        0      0      0        0
Gana              0    0    0    1        0        0      0      0        0
Uruguai           1    0    0    0        1        0      0      0        0
Coreia do Sul     0    1    0    0        1        1      0      0        0

In [18]:
SimulaCopa(selecoes).sum()

1st         8
2nd         8
3rd         8
4th         8
Oitavas    16
Quartas     8
Semis       4
Final       2
Campeão     1
dtype: int64

In [ ]:
def SimulacaoTotal(dados, S = 1000): 
    print('IA: "Iniciando simulação..."')
    info = SimulaCopa(dados)
    for i in range(S-1):
        info += SimulaCopa(dados)
        if (i+2)%(S/10) == 0:
            print('IA: "Simulações de Copas do Mundo: {:.0f}% completas'.format(100*((i+2)/S)))    
    print('IA: "Simulação Finalizada!"')
    return info.sort_values(by = 'Campeão', ascending = False)/S

In [ ]:
S = 10000
sim = SimulacaoTotal(selecoes, S) 
sim.to_excel('outputSimulaçõesCopaDoMundo.xlsx')
sim

IA: "Iniciando simulação..."
IA: "Simulações de Copas do Mundo: 10% completas
IA: "Simulações de Copas do Mundo: 20% completas
IA: "Simulações de Copas do Mundo: 30% completas
IA: "Simulações de Copas do Mundo: 40% completas
IA: "Simulações de Copas do Mundo: 50% completas
IA: "Simulações de Copas do Mundo: 60% completas
IA: "Simulações de Copas do Mundo: 70% completas
IA: "Simulações de Copas do Mundo: 80% completas
IA: "Simulações de Copas do Mundo: 90% completas
IA: "Simulações de Copas do Mundo: 100% completas
IA: "Simulação Finalizada!"

,1st,2nd,3rd,4th,Oitavas,Quartas,Semis,Final,Campeão
Seleção,,,,,,,,,
Brasil,0.5888,0.2501,0.1198,0.0413,0.8389,0.5540,0.3467,0.2128,0.1263
Bélgica,0.5768,0.2638,0.1193,0.0401,0.8406,0.5398,0.3337,0.2053,0.1226
Argentina,0.5339,0.2900,0.1390,0.0371,0.8239,0.5020,0.3139,0.1731,0.1033
França,0.5105,0.2963,0.1394,0.0538,0.8068,0.4807,0.2923,0.1628,0.0895
Inglaterra,0.4410,0.2803,0.1758,0.1029,0.7213,0.4602,0.2527,0.1379,0.0714
Espanha,0.4511,0.2841,0.1755,0.0893,0.7352,0.4059,0.2248,0.1219,0.0617
Portugal,0.4603,0.3243,0.1817,0.0337,0.7846,0.4148,0.2161,0.1106,0.0547
Holanda,0.5270,0.2969,0.1270,0.0491,0.8239,0.4438,0.2246,0.1121,0.0536
Dinamarca,0.3437,0.3534,0.2013,0.1016,0.6971,0.3505,0.1849,0.0862,0.0412
Uruguai,0.3766,0.3541,0.2166,0.0527,0.7307,0.3599,0.1649,0.0805,0.0375
Alemanha,0.3236,0.3240,0.2233,0.1291,0.6476,0.3250,0.1581,0.0792,0.0372
México,0.3026,0.3646,0.2408,0.0920,0.6672,0.3325,0.1760,0.0804,0.0352
Estados Unidos,0.2598,0.2772,0.2525,0.2105,0.5370,0.3003,0.1381,0.0618,0.0271
Croácia,0.2418,0.3376,0.2660,0.1546,0.5794,0.2884,0.1385,0.0626,0.0263
Suíça,0.2275,0.3424,0.2659,0.1642,0.5699,0.2840,0.1252,0.0562,0.0234
Senegal,0.3241,0.3644,0.2059,0.1056,0.6885,0.3072,0.1264,0.0522,0.0207
País de Gales,0.1608,0.2340,0.2949,0.3103,0.3948,0.1988,0.0758,0.0301,0.0113
Marrocos,0.1345,0.2646,0.3489,0.2520,0.3991,0.1677,0.0657,0.0265,0.0100
Irã,0.1384,0.2085,0.2768,0.3763,0.3469,0.1610,0.0611,0.0243,0.0086
Japão,0.1493,0.2385,0.3222,0.2900,0.3878,0.1497,0.0574,0.0214,0.0082
Sérvia,0.1301,0.2618,0.3303,0.2778,0.3919,0.1602,0.0599,0.0244,0.0075
Polônia,0.1380,0.2591,0.3834,0.2195,0.3971,0.1511,0.0601,0.0210,0.0069
Coreia do Sul,0.1521,0.2770,0.4313,0.1396,0.4291,0.1532,0.0531,0.0170,0.0048
Tunísia,0.0840,0.1929,0.3501,0.3730,0.2769,0.0898,0.0328,0.0096,0.0023
Camarões,0.0536,0.1457,0.2840,0.5167,0.1993,0.0657,0.0201,0.0051,0.0022
Costa Rica,0.0760,0.1534,0.2790,0.4916,0.2294,0.0717,0.0214,0.0070,0.0020
Austrália,0.0618,0.1574,0.3092,0.4716,0.2192,0.0674,0.0224,0.0049,0.0015
Canadá,0.0469,0.1340,0.2658,0.5533,0.1809,0.0518,0.0135,0.0038,0.0013
Equador,0.0902,0.1972,0.3499,0.3627,0.2874,0.0821,0.0215,0.0052,0.0010
Catar,0.0587,0.1415,0.3172,0.4826,0.2002,0.0466,0.0108,0.0030,0.0005
Arábia Saudita,0.0255,0.0863,0.2368,0.6514,0.1118,0.0260,0.0066,0.0009,0.0002
Gana,0.0110,0.0446,0.1704,0.7740,0.0556,0.0082,0.0009,0.0002,0.0000

## Extraindo mais informações das simulações

In [ ]:
etapas = pd.DataFrame()
etapas['Cair na 1ª Fase'] = 1 - sim['Oitavas']
etapas['Cair nas Oitavas'] = sim['Oitavas'] - sim['Quartas']
etapas['Cair nas Quartas'] = sim['Quartas'] - sim['Semis']
etapas['Cair nas Semis'] = sim['Semis'] - sim['Final']
etapas['Cair na Final'] = sim['Final']  -  sim['Campeão'] 
etapas['Ganhar a Final'] = sim['Campeão']  
etapas.to_excel('outputProbabilidadesPorEtapa.xlsx')
etapas

,Cair na 1ª Fase,Cair nas Oitavas,Cair nas Quartas,Cair nas Semis,Cair na Final,Ganhar a Final
Seleção,,,,,,
Brasil,0.1611,0.2849,0.2073,0.1339,0.0865,0.1263
Bélgica,0.1594,0.3008,0.2061,0.1284,0.0827,0.1226
Argentina,0.1761,0.3219,0.1881,0.1408,0.0698,0.1033
França,0.1932,0.3261,0.1884,0.1295,0.0733,0.0895
Inglaterra,0.2787,0.2611,0.2075,0.1148,0.0665,0.0714
Espanha,0.2648,0.3293,0.1811,0.1029,0.0602,0.0617
Portugal,0.2154,0.3698,0.1987,0.1055,0.0559,0.0547
Holanda,0.1761,0.3801,0.2192,0.1125,0.0585,0.0536
Dinamarca,0.3029,0.3466,0.1656,0.0987,0.0450,0.0412
Uruguai,0.2693,0.3708,0.1950,0.0844,0.0430,0.0375
Alemanha,0.3524,0.3226,0.1669,0.0789,0.0420,0.0372
México,0.3328,0.3347,0.1565,0.0956,0.0452,0.0352
Estados Unidos,0.4630,0.2367,0.1622,0.0763,0.0347,0.0271
Croácia,0.4206,0.2910,0.1499,0.0759,0.0363,0.0263
Suíça,0.4301,0.2859,0.1588,0.0690,0.0328,0.0234
Senegal,0.3115,0.3813,0.1808,0.0742,0.0315,0.0207
País de Gales,0.6052,0.1960,0.1230,0.0457,0.0188,0.0113
Marrocos,0.6009,0.2314,0.1020,0.0392,0.0165,0.0100
Irã,0.6531,0.1859,0.0999,0.0368,0.0157,0.0086
Japão,0.6122,0.2381,0.0923,0.0360,0.0132,0.0082
Sérvia,0.6081,0.2317,0.1003,0.0355,0.0169,0.0075
Polônia,0.6029,0.2460,0.0910,0.0391,0.0141,0.0069
Coreia do Sul,0.5709,0.2759,0.1001,0.0361,0.0122,0.0048
Tunísia,0.7231,0.1871,0.0570,0.0232,0.0073,0.0023
Camarões,0.8007,0.1336,0.0456,0.0150,0.0029,0.0022
Costa Rica,0.7706,0.1577,0.0503,0.0144,0.0050,0.0020
Austrália,0.7808,0.1518,0.0450,0.0175,0.0034,0.0015
Canadá,0.8191,0.1291,0.0383,0.0097,0.0025,0.0013
Equador,0.7126,0.2053,0.0606,0.0163,0.0042,0.0010
Catar,0.7998,0.1536,0.0358,0.0078,0.0025,0.0005
Arábia Saudita,0.8882,0.0858,0.0194,0.0057,0.0007,0.0002
Gana,0.9444,0.0474,0.0073,0.0007,0.0002,0.0000

In [ ]:
avanco = pd.DataFrame()
avanco['Avançar na 1ª Fase'] = sim['Oitavas']
avanco['Avançar nas Oitavas'] = sim['Quartas']/sim['Oitavas'] 
avanco['Avançar nas Quartas'] = sim['Semis']/sim['Quartas'] 
avanco['Avançar nas Semis'] = sim['Final']/sim['Semis'] 
avanco['Avançar na Final'] = sim['Campeão']/sim['Final']   
avanco.to_excel('outputAvançoPorEtapa.xlsx')
avanco

,Avançar na 1ª Fase,Avançar nas Oitavas,Avançar nas Quartas,Avançar nas Semis,Avançar na Final
Seleção,,,,,
Brasil,0.8389,0.660389,0.625812,0.613787,0.593515
Bélgica,0.8406,0.642160,0.618192,0.615223,0.597175
Argentina,0.8239,0.609297,0.625299,0.551450,0.596765
França,0.8068,0.595811,0.608072,0.556962,0.549754
Inglaterra,0.7213,0.638015,0.549109,0.545706,0.517766
Espanha,0.7352,0.552095,0.553831,0.542260,0.506153
Portugal,0.7846,0.528677,0.520974,0.511800,0.494575
Holanda,0.8239,0.538658,0.506084,0.499110,0.478145
Dinamarca,0.6971,0.502797,0.527532,0.466198,0.477958
Uruguai,0.7307,0.492541,0.458183,0.488175,0.465839
Alemanha,0.6476,0.501853,0.486462,0.500949,0.469697
México,0.6672,0.498351,0.529323,0.456818,0.437811
Estados Unidos,0.5370,0.559218,0.459873,0.447502,0.438511
Croácia,0.5794,0.497756,0.480236,0.451986,0.420128
Suíça,0.5699,0.498333,0.440845,0.448882,0.416370
Senegal,0.6885,0.446187,0.411458,0.412975,0.396552
País de Gales,0.3948,0.503546,0.381288,0.397098,0.375415
Marrocos,0.3991,0.420195,0.391771,0.403349,0.377358
Irã,0.3469,0.464111,0.379503,0.397709,0.353909
Japão,0.3878,0.386024,0.383434,0.372822,0.383178
Sérvia,0.3919,0.408778,0.373908,0.407346,0.307377
Polônia,0.3971,0.380509,0.397750,0.349418,0.328571
Coreia do Sul,0.4291,0.357026,0.346606,0.320151,0.282353
Tunísia,0.2769,0.324305,0.365256,0.292683,0.239583
Camarões,0.1993,0.329654,0.305936,0.253731,0.431373
Costa Rica,0.2294,0.312554,0.298466,0.327103,0.285714
Austrália,0.2192,0.307482,0.332344,0.218750,0.306122
Canadá,0.1809,0.286346,0.260618,0.281481,0.342105
Equador,0.2874,0.285665,0.261876,0.241860,0.192308
Catar,0.2002,0.232767,0.231760,0.277778,0.166667
Arábia Saudita,0.1118,0.232558,0.253846,0.136364,0.222222
Gana,0.0556,0.147482,0.109756,0.222222,0.000000